<div class='body'>
  <div class='container'>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
      <h2>User info</h2>

      <%= form_with model: @user, url: edit_book_path, local:true do |f| %>
        <h4>Name</h4>
        <%= f.text_field :name %>
        <h4>Image</h4>
        <%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %>
        <h4>Introduction</h4>
        <%= f.text_area :Introduction %>
        <%= f.submit "Update User" %>
      <% end %>