<div class='body'>
  <div class='container'>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>


    <div class='row'>
      <div class='col-xs-3'>
        <h2>User info</h2>
          <table class='table'>
            <tr>
              <th></th>
              <th class="attachment user profile_image" src="/attachments/008169784d3c1eed0f940de16b5b6ebd100f218f/store/fill/100/100/ba831aee67a3aa5729ccd39b7ff93686cd0ed28cf22b7bdd6b84f8bb66f5/profile_image" alt="Profile image" />
            </tr>
            <tr>
    	        <th>name</th>
    	        <th class="name"><%= @user.name %></th>
            </tr>
            <tr>
    	        <th>introduction</th>
    	        <th class="introduction"><%= @user.introduction %></th>
            </tr>
            <% if @user.id == current_user.id %>
              <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
            <% end %>
          </table>

        <h2>New book</h2>
        <% if @book.errors.any? %>
          <div id='error_explanation'>
            <h2><%= @book.errors.count %> errors prohihbited this book from being saved:</h2>
            <% @book.errors.full_messages.each do |msg| %>
              <ul>
                <li><%= msg %></li>
              </ul>
            <% end %>
          </div>
        <% end %>

        <%= form_with model: @book, url: '/books', local:true do |f| %>
          <h3>Title</h3>
          <%= f.text_field :title %>
          <h3>Opinion</h3>
          <%= f.text_area :body %>
          <%= f.submit 'Create Book' %>
        <% end %>
      </div>
 
        <% if flash[:notice] %>
          <p><%= flash[:notice] %></p>
        <% end %>
        
      <div class='col-xs-9'>
		    <h2>Book detail</h2>
		    <table class='table'>
		      <tr>
            <td><a href="/users/24734">
              <img class="attachment user profile_image" src="/attachments/343ecc65297c9e523f75c975c7fad366f1cc865d/store/fill/100/100/e4b614dde8552c27b203180e54a181f3e4b647a2945962bfd032904261b0/profile_image" alt="Profile image" /><br>
              細山田
            </a></td>
            <td><%= link_to "@book.title", edit_book_path(@book) %></td>
            <td><%= @book.body %></td>

              <!--<td><a class="btn-sm btn-success edit_book_38686" href="/books/38686/edit">Edit</a></td>-->
              <td><%= link_to "Edit", edit_book_path(@book) %></td>
              <!--<td><a data-confirm="本当に消しますか？" class="btn-sm btn-danger destroy_book_38686" rel="nofollow" data-method="delete" href="/books/38686">Destroy</a></td>-->
              <td><%= link_to "Destroy", books_path, method: :delete, data: { confirm: "本当に消しますか？" } %></td>
          </tr>
        </table>

      </div>

    </div>
  </div>
</div>